<div class="container">
    <div class="Card">
        <div class="card-content">
            <div id="icon-box">
                <img id="icon" src="assets/graduation-hat.png" alt="icon">
            </div>
            <form class="form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
                <div id="input-box">
                    <input type="email" formControlName="email" placeholder="Email">
                </div>
                <div id="input-box">
                    <input type="text" formControlName="password" placeholder="Pin" pattern="[0-9]*" inputmode="numeric">
                </div>
                <div id="button">
                    <button  type="submit" [disabled]="!reactiveForm.valid" [ngStyle]="!reactiveForm.valid ? {'background-color': '#cecece', 'color': 'black'} : {}">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>
